<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="//fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
<section class="section admin-site">
  <br><br>
  <div class="col-sm-10 col-sm-offset-1">
    <h1><%= t ".title" %></h1><br><br>
    <% flash.each do |key, value| %>
      <div class="flash-message <%= key %>">
        <%= value %>
      </div>
    <% end %>
    <div class="bloc check-order">
      <br>
      <h3 class="title"><%= t ".info" %></h3>
      <table dir="ltr" class="default-dg-table">
        <tbody id="combo_dish">
          <tr class="dg_tr" id="di_row_0">
            <td class="default_dg_td dg-left dg-nowrap"><b><%= t ".code" %></b></td>
            <td class="default_dg_td dg-left"><%= @order.code %></td>
          </tr>
          <tr class="dg_tr" id="di_row_0">
            <td class="default_dg_td dg-left dg-nowrap"><b><%= t ".guest" %></b></td>
            <td class="default_dg_td dg-left"><%= @order.guest.name %></td>
          </tr>
          <tr class="dg_tr" id="di_row_0">
            <td class="default_dg_td dg-left dg-nowrap"><b><%= t ".phone" %></b></td>
            <td class="default_dg_td dg-left"><%= @order.guest.phoneNum %></td>
          </tr>
          <tr class="dg_tr" id="di_row_0">
            <td class="default_dg_td dg-left dg-nowrap"><b><%= t ".email" %></b></td>
            <td class="default_dg_td dg-left"><%= @order.guest.email %></td>
          </tr>
          <tr class="dg_tr" id="di_row_0">
            <td class="default_dg_td dg-left dg-nowrap"><b><%= t ".date" %></b></td>
            <td class="default_dg_td dg-left">
              <%= @order.date.in_time_zone('Hanoi').strftime('%b %d %Y') %>
            </td>
          </tr>
          <tr class="dg_tr" id="di_row_0">
            <td class="default_dg_td dg-left dg-nowrap"><b><%= t ".from" %></b></td>
            <td class="default_dg_td dg-left">
              <%= @order.time_in.in_time_zone('Hanoi').strftime('%I:%M %p') %>
            </td>
          </tr>
          <tr class="dg_tr" id="di_row_0">
            <td class="default_dg_td dg-left dg-nowrap"><b><%= t ".table" %></b></td>
            <td class="default_dg_td dg-left">
              <%= @order.table.id %>
            </td>
          </tr>
          <tr class="dg_tr" id="di_row_0">
            <td class="default_dg_td dg-left dg-nowrap"><b><%= t ".capacity" %></b></td>
            <td class="default_dg_td dg-left">
              <%= @order.table.capacity %>
            </td>
          </tr>
          <tr class="dg_tr" id="di_row_0">
            <td class="default_dg_td dg-left dg-nowrap"><b><%= t ".discount" %></b></td>
            <td class="default_dg_td dg-left dg-nowrap">
              <%= @order.discount %>%<br>
            </td>
          </tr>
        </tbody>
      </table>
      <br>
      <div class="col-xs-12 text-center">
        <%= link_to "Edit order", edit_admin_order_path(@order), class:"pj-button" %>
      </div>
      <br><br>
      <h3 class="title"><%= t ".item" %></h3>
      <h4>
        <%= link_to "+ Add dish", new_admin_order_order_dish_path(@order), class:"btn btn-link" %>
      </h4>
      <h4>
        <%= link_to "+ Add combo", new_admin_order_order_combo_path(@order), class:"btn btn-link" %>
      </h4>
      <br><br>
      <table class="items-table">
        <thead>
          <tr>
            <th><%= t ".no" %></th>
            <th><%= t ".product" %></th>
            <th><%= t ".type" %></th>
            <th><%= t ".price" %></th>
            <th><%= t ".quantity" %></th>
            <th><%= t ".discount" %></th>
            <th><%= t ".subtotal" %></th>
            <th colspan="2" class="text-center"><%= t ".action" %></th>
          </tr>
        </thead>
        <tbody>
          <% @order.order_dishes.each do |order_dish| %>
            <tr>
              <td class="total"><%= order_dish.dish.id %></td>
              <td class="total">
                <strong><%= link_to order_dish.dish.name, admin_dish_path(order_dish) %></strong>
              </td>
              <td class="total">Dish</td>
              <td class="total">
                <%= number_to_currency order_dish.dish.price %>
              </td>
              <td class="total">
                <%= order_dish.quantity %>
              </td>
              <td class="total">0%</td>
              <td class="total">
                <%= number_to_currency order_dish.total_price %>
              </td>
              <td class="total width-10 text-center">
                <%= link_to edit_admin_order_order_dish_path(@order, order_dish) do %>
                    <i class="fa fa-lg fa-pencil-square-o"></i>
                <% end %>
              </td>
              <td class="total width-10 text-center">
                <%= link_to admin_order_order_dish_path(@order, order_dish), method: :delete,
                            data: { confirm: t("button.delete_warning") } do %>
                    <i class="fa fa-lg fa-times"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="6" class="foot"><%= t ".total1" %></td>
          <td class="foot" colspan="3">
            <%= number_to_currency @order.subtotal %>
          </td>
        </tr>
        <tr>
          <td colspan="6" class="foot"><%= t ".voucher" %></td>
          <td class="foot" colspan="3">
            <%= @order.discount %>%
          </td>
        </tr>
        <tr>
          <td colspan="6"><strong><%= t ".total" %></strong></td>
          <td colspan="3">
            <strong><%= number_to_currency (@order.subtotal * (100 - @order.discount))/100 %></strong>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</section>
